server {
    listen {{ nginx_default_port }} default_server;
    listen [::]:{{ nginx_default_port }} default_server;

    root {{ nginx_default_root }};

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }
{% if item.whitelist is defined %}
{% if item.whitelist != "" %}
    {{ item.whitelist }}
{% endif %}
{% endif %}
}