user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections {{ nginx_worker_connections }};
        # multi_accept {{ nginx_multi_accept }};
}

http {

        ##
        # Basic Settings
        ##

        sendfile {{ nginx_sendfile }};
        tcp_nopush {{ nginx_tcp_nopush }};
        types_hash_max_size {{ nginx_types_hash_max_size }};
        # server_tokens {{ nginx_server_tokens }};

        # server_names_hash_bucket_size {{ nginx_sn_hash_bucket_size }};
        # server_name_in_redirect {{ nginx_sn_in_redirect }};

        include /etc/nginx/mime.types;
        default_type {{ nginx_http_default_type }};

        ##
        # SSL Settings
        ##

        ssl_protocols {{ nginx_ssl_protocols }}; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers }};

        ##
        # Logging Settings
        ##

        access_log {{ nginx_access_log_path }};
        error_log {{nginx_error_log_path }};

        ##
        # Gzip Settings
        ##

        gzip {{ nginx_gzip_state }};

        ##
        # Virtual Host Configs
        ##

{% for item in nginx_virtual_hosts_includes%}
        include {{ item }};
{% endfor %}
}
