server {
    listen {{ item.listen_port }};
    server_name {{ item.domain_name }};
    location / {
        set $target {{ item.server_address }}:{{ item.server_port }};
        proxy_pass $target;
    }
{% if item.whitelist is defined %}
{% if item.whitelist != "" %}
    {{ item.whitelist }}
{% endif %}
{% endif %}
}